RAG - BOT_Customer support Agent.json
{
  "name": "RAG - BOT_Customer support Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}",
        "options": {
          "systemMessage": "You are an AI Customer Support Agent for the company.\n\nYour responsibility is to read incoming customer questions, generate accurate responses using the company knowledge base, and return a professional response.\n\n====================\nCORE RULE\n====================\nYou must always use the Pinecone Chat Assistant tool to generate answers.\nThe Pinecone Chat Assistant is the ONLY source of truth.\n\n====================\nWORKFLOW (MANDATORY)\n====================\n1. A question is received from a customer via webhook.\n2. You send the FULL question to the Pinecone Chat Assistant using the tool.\n3. You receive the response from the Pinecone Chat Assistant.\n4. You rewrite the response into a clear, polite, and professional customer support answer.\n5. Return ONLY the final answer text - no additional formatting or metadata.\n\n====================\nSTRICT CONSTRAINTS\n====================\n- Do NOT add new information.\n- Do NOT guess or assume facts.\n- Do NOT hallucinate.\n- Do NOT answer directly without calling the Pinecone Chat Assistant.\n- Do NOT mention Pinecone, AI, embeddings, RAG, or internal systems.\n\nIf the Pinecone Chat Assistant does NOT provide a clear or sufficient answer:\n- Politely explain that the information is currently unavailable.\n- Ask the customer for more details OR inform them that a human support agent will follow up.\n\n====================\nRESPONSE GUIDELINES\n====================\n- Use a polite and friendly tone.\n- Be concise and easy to understand.\n- Address the customer question directly.\n- Avoid technical jargon unless the customer used it.\n- End with a supportive closing line.\n\n====================\nOUTPUT REQUIREMENTS\n====================\n- The final output must be ONLY the answer text.\n- Do NOT include analysis, reasoning, or system messages.\n- Do NOT include instructions or explanations.\n- Do NOT include JSON formatting or metadata."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        272
      ],
      "id": "35b54280-017e-45cf-8ad7-f088affec920",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        512
      ],
      "id": "d60eaff6-3409-4a23-b4c4-4db0efb4fd1b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "csb2pOS0Uas4rVVF",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/customer-support",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "=pcsk_9Bnww_Kk7KdBwaReBohFm5JvX9S6rZ2mFusC7XoUnkzda7AcoKe3KKpZ3z2bYUu1LpZxM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $fromAI(\"searchQuery\") }}\"\n    }\n  ],\n  \"stream\": false,\n  \"model\": \"gpt-4o\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        368,
        496
      ],
      "id": "32d989d8-0c00-46ff-924a-a42d9bf2b419",
      "name": "Pinecone Chat"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-support",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1408a517-9b44-4458-a5ff-3d127d8e75e6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        272
      ],
      "webhookId": "568a54ff-9d5c-4aca-9793-dc77683a8750"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"answer\": {{ $('AI Agent').first().json.output }}\n}",
        "options": {}
      },
      "id": "5d397fa1-0923-4033-9eaf-8112a8e8cfe6",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Chat": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b04cac55-1575-41bb-a044-15a68ced6b94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "25e6c25713aed5b6430fb4eacebecd6e261482c053b439853b0cc282b9a6f61b"
  },
  "id": "esUlNj04dKQCy073",
  "tags": []
}